{% extends 'base.html.twig' %}



{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="homePage">
        <h1 class="d-none">Préparez-vous aux Concours et Examens avec Infoox School. Épreuves et prépa concours : Ressources Incontournables</h1>
        <!-- debut du slider principale  -->
        {% block sliderPrincipale %}
            <div class="container-fluid g-0 g-lg-4">
                <div id="sliderPrincipaleInfooxJs" class="sliderPrincipaleInfoox carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="{{ asset("slider/pc/image1.jpg") }}" class="d-block w-100" alt="infoox bienvenu">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ asset("slider/pc/image2.jpg") }}" class="d-block w-100" alt="infoox appel">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset("slider/pc/image3.jpg") }}" class="d-block w-100" alt="infoox bienvenu aux élèves">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- fin du slider principale  -->

        <!-- debut des examens  -->
        <section id="examen" class="forHome">

            <div class="examen d-none">
                <div class="examensSlider slider container-fluid g-0 g-lg-5">

                    {% for examen in examens %}
                    <a href="{{ path('app_books_category', {'c': examen.title|slug ~ '-e' ~ examen.id }) }}" class="card" style="width: 40px;">
                        <div class="imgInfoox">
                            <div {{ vue_component('default-image-examen', {'src': examen.image, 'alt': examen.title, 'class':'card-img-top' }) }}></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title oneLine">{{ examen.title }}</h5>
                            <p class="card-text oneLine">Examen</p>
                            <div class="d-flex justify-content-between">
                                <div style="color: #D5B42E">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="1.4rem" viewBox="0 0 128 128"><path fill="#fdd835" d="m68.05 7.23l13.46 30.7a7.05 7.05 0 0 0 5.82 4.19l32.79 2.94c3.71.54 5.19 5.09 2.5 7.71l-24.7 20.75c-2 1.68-2.91 4.32-2.36 6.87l7.18 33.61c.63 3.69-3.24 6.51-6.56 4.76L67.56 102a7.03 7.03 0 0 0-7.12 0l-28.62 16.75c-3.31 1.74-7.19-1.07-6.56-4.76l7.18-33.61c.54-2.55-.36-5.19-2.36-6.87L5.37 52.78c-2.68-2.61-1.2-7.17 2.5-7.71l32.79-2.94a7.05 7.05 0 0 0 5.82-4.19l13.46-30.7c1.67-3.36 6.45-3.36 8.11-.01"/><path fill="#ffff8d" d="m67.07 39.77l-2.28-22.62c-.09-1.26-.35-3.42 1.67-3.42c1.6 0 2.47 3.33 2.47 3.33l6.84 18.16c2.58 6.91 1.52 9.28-.97 10.68c-2.86 1.6-7.08.35-7.73-6.13"/><path fill="#f4b400" d="M95.28 71.51L114.9 56.2c.97-.81 2.72-2.1 1.32-3.57c-1.11-1.16-4.11.51-4.11.51l-17.17 6.71c-5.12 1.77-8.52 4.39-8.82 7.69c-.39 4.4 3.56 7.79 9.16 3.97"/></svg>
                                    4.5
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="1.4rem" viewBox="0 0 32 32"><path fill="black" d="M16 2A14.173 14.173 0 0 0 2 16a14.173 14.173 0 0 0 14 14a14.173 14.173 0 0 0 14-14A14.173 14.173 0 0 0 16 2m8 15h-7v7h-2v-7H8v-2h7V8h2v7h7Z"/><path fill="none" d="M24 17h-7v7h-2v-7H8v-2h7V8h2v7h7z"/></svg>
                                </div>

                            </div>
                        </div>

                    </a>
                    {% endfor %}



                </div>
            </div>
        </section>
        <!-- fin des examens  -->

        <!-- debut des filieres  -->
        <div class="container-fluid g-0 g-lg-5 filieres">
            <div class="bg-white">
                <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Filières :</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Populaires</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Meilleures</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Nouvelles</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="container-fluid g-3">
                            <div class="row">
                                {% for filiere in populairesF %}
                                    <div class="col col-6 col-lg-3">
                                        <a href="{{ path('app_books_category', {'c': filiere.title|slug ~ '-f' ~ filiere.id }) }}">
                                            <div {{ vue_component('default-image-filiere', {'src': filiere.image, 'alt': filiere.title }) }}></div>
                                            <h3 data-v-d6c72c92="" class="oneLine">{{ filiere.title }}</h3>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                        <div class="container-fluid g-3">
                            <div class="row">
                                {% for filiere in meilleuresF %}
                                    <div class="col col-6 col-lg-3">
                                        <a href="{{ path('app_books_category', {'c': filiere.title|slug ~ 'f' ~ filiere.id }) }}">
                                            <div {{ vue_component('default-image-filiere', {'src': filiere.image, 'alt': filiere.title }) }}></div>
                                            <h3 data-v-d6c72c92="" class="oneLine">{{ filiere.title }}</h3>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                        <div class="container-fluid g-3">
                            <div class="row">
                                {% for filiere in nouvellesF %}
                                    <div class="col col-6 col-lg-3">
                                        <a href="{{ path('app_books_category', {'c': filiere.title|slug ~ 'f' ~ filiere.id }) }}">
                                            <div {{ vue_component('default-image-filiere', {'src': filiere.image, 'alt': filiere.title }) }}></div>
                                            <h3 data-v-d6c72c92="" class="oneLine">{{ filiere.title }}</h3>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <a href="#" class="ms-1 mt-2 voirPlus">Voir plus...</a>
                </div>
            </div>
        </div>
        <!-- fin des filieres  -->






        <!-- debut des livres de la première section pack4  -->
            <section id="pack4BookSection1">
                <div {{ vue_component('pack4-books', {'categories' : {
                'Section': [{'6': '1'}, {'2': '1'}, {'6': '2'}, {'3': '1'}],
                }}) }}></div>
            </section>
        <!-- fin des livres de la première pack4  -->

        <!-- debut des livres les plus utilisés  -->
        <section id="popularBook">
            <div {{ vue_component('books-slide', {
                'filtres': {},
                'title': 'Livres scolaires les plus recherchés',
                'limit': '10',
                }) }}
            ></div>
        </section>
        <!-- fin des livres les plus utilisés  -->

        <!-- debut des livres de la 2ème section pack4 -->
        <section id="pack4BookSession2">
            <div {{ vue_component('pack4-books', {'categories' : {
                'Section': [{'1': '1'}, {'5': '1'}, {'3': '1'}, {'4':'1'}],
            }}) }}></div>
        </section>
        <!-- fin des livres de la 2ème section pack4  -->
        <!-- debut des livres de prépa-concours  -->

        <section id="preparConcours">
            <div {{ vue_component('books-slide', {
                'filtres':{'section':'6'},
                'title': 'Livres de prépa-concours',
                'limit': '10',
            }) }}
            ></div>
        </section>
        <!-- fin des livres les plus utilisés  -->
    </main>
{% endblock %}


