{% extends 'base.html.twig' %}

{% block title %}Infoox School{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="homePage">

        <!-- debut du slider principale  -->
        {% block sliderPrincipale %}
            <div class="container-fluid g-0 g-lg-4">
                <div id="sliderPrincipaleInfooxJs" class="sliderPrincipaleInfoox carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="{{ asset("slider/pc/image1.jpg") }}" class="d-block w-100" alt="infoox bienvenu">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ asset("slider/pc/image2.jpg") }}" class="d-block w-100" alt="infoox appel">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset("slider/pc/image3.jpg") }}" class="d-block w-100" alt="infoox bienvenu aux élèves">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- fin du slider principale  -->

        <!-- debut des examens  -->
        <section id="examen" class="forHome">
            <div {{ vue_component('examens') }}></div>
        </section>
        <!-- fin des examens  -->

        <!-- debut des filieres  -->
        <div {{ vue_component('filieres') }}></div>
        <!-- fin des filieres  -->

        <!-- debut des livres de la première section pack4  -->
            <section id="pack4Book">
                <div {{ vue_component('pack4-books', {'categories' : {
                'Section': [{'6': '1'}, {'2': '1'}, {'6': '2'}, {'3': '1'}],
                }}) }}></div>
            </section>
        <!-- fin des livres de la première pack4  -->

        <!-- debut des livres les plus utilisés  -->
        <section id="popularBook">
            <div {{ vue_component('books-slide', {
                'filtres': {},
                'title': 'Livres scolaires les plus recherchés',
                'limit': '10',
                }) }}
            ></div>
        </section>
        <!-- fin des livres les plus utilisés  -->

        <!-- debut des livres de la 2ème section pack4 -->
        <section id="pack4Book">
            <div {{ vue_component('pack4-books', {'categories' : {
                'Section': [{'1': '1'}, {'5': '1'}, {'3': '1'}, {'4':'1'}],
            }}) }}></div>
        </section>
        <!-- fin des livres de la 2ème section pack4  -->
        <!-- debut des livres de prépa-concours  -->

        <section id="preparConcours">
            <div {{ vue_component('books-slide', {
                'filtres':{'section':'14'},
                'title': 'Livres de prépa-concours',
                'limit': '10',
            }) }}
            ></div>
        </section>
        <!-- fin des livres les plus utilisés  -->
    </main>
{% endblock %}


