{% extends 'base.html.twig' %}

{% block title %}Infoox School{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <main id="bookPage">
        <!-- debut des infos du livre -->
        <section id="infoBook" class="container-fluid g-0 g-md-3 g-lg-4 mt-1">
            <div class="infoBookContainer container-fluid g-2 g-md-3 py-2">

                <div class="row gap-5 g-md-0">
                    <div class="col order-2 order-md-1">
                        <div class="MenuPage border border-1">
                            <h6 class="d-none d-md-block">Menu</h6>
                                {{ render(controller(
                                    'App\\Controller\\DinamicMenyController::bord',
                                    { 'id': book.id }
                                )) }}
                        </div>
                    </div>
                    <div class="col col-12 col-md-9 order-1 order-md-2">
                        <div class="row mt-1 g-6">
                            <div class="col col-4 text-end">
                                {% if book.getImages|length > 0 %}
                                    <span {{ vue_component('default-image-book', { 'path':book.path, 'src':book.getImages[0].path , 'class':'bookImage','alt': book.title }) }}></span>
                                {% else %}
                                    <span {{ vue_component('default-image-book', {'class':'bookImage','alt': book.title }) }}></span>
                                {% endif %}

                            </div>
                            <div class="col">
                                <h1>{{ book.title }}</h1>
                                {% if book.collection %}
                                    <p class="fw-bold my-1"> Collection: {{ book.collection.title }}</p>
                                {% endif %}
                                <div class="d-flex flex-wrap">
                                    <div>
                                        {% for i in 1..5 %}
                                            {% if i<=  book.star %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="3rem" viewBox="0 0 24 24"><path fill="#dada10" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928z"/></svg>
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1.4rem" height="3rem" viewBox="0 0 24 24"><path fill="black" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928zm0-2.292l4.247 2.377l-.948-4.773l3.573-3.305l-4.833-.573l-2.038-4.419l-2.039 4.42l-4.833.572l3.573 3.305l-.948 4.773z"/></svg>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div>( {{ book.comments|length }}+ Avis)</div>
                                </div>
                                {% if not book_in_basket(book) %}
                                    <div class="addBasket mt-3">
                                        <a  @click="addBasket($event, {{ book.id }})" type="button" class="btn btn-dark position-relative me-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 48 48"><g fill="none"><path d="M39 32H13L8 12h36z"></path><path stroke="#FBFAFA" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M3 6h3.5L8 12m0 0l5 20h26l5-20z"></path><circle cx="13" cy="39" r="3" stroke="#FBFAFA" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></circle><circle cx="39" cy="39" r="3" stroke="#FBFAFA" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"></circle></g></svg>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            +
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                        </a>
                                        <span class="afficheAlert"></span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="somaire mt-3">
                            <h3 class="u">Sommaire :</h3>
                            <div class="j">
                                <ul>

                                    {% for cour in book.getCours %}
                                        {% if not cour.content %}
                                            <li class="q"><h2>{{ cour.title }}</h2></li>
                                        {% else %}
                                            <li>
                                            {% if corrige_autorisation %}
                                                <a href="{{ path('app_cour', {'c':cour.slug}) }}">
                                                    <div class="m">
                                                        <h2>{{ cour.title }}</h2>
                                                    </div>
                                                </a>
                                                <div class="k">
                                                    <a href="{{ path('app_cour', {'c':cour.slug}) }}">
                                                        <i class="fa fa-eye" id="i"></i>
                                                        <i class="fa fa-eye" id="i"></i>
                                                    </a>
                                                </div>
                                                <div class="l">
                                                    <a href="{{ path('app_exercices', {'c':cour.slug}) }}">
                                                        <i class="fa fa-list" id="i"></i>
                                                        <i class="fa fa-list" id="i"></i>
                                                    </a>
                                                </div>

                                            {% else %}

                                                    <a data-bs-toggle="modal" data-bs-target="#achat_bord">
                                                        <div class="m">
                                                            <h2 class="text-danger">{{ cour.title }}</h2>
                                                        </div>
                                                    </a>
                                                    <div class="k">
                                                        <a data-bs-toggle="modal" data-bs-target="#achat_bord">
                                                            <i class="fa fa-eye text-danger" id="i"></i>
                                                            <i class="fa fa-eye text-danger" id="i"></i>
                                                        </a>
                                                    </div>
                                                    {% if cour.getExercices|length >0 %}
                                                    <div class="l">
                                                        <a href="{{ path('app_exercices', {'c': cour.slug}) }}">
                                                            <i class="fa fa-list" id="i"></i>
                                                            <i class="fa fa-list" id="i"></i>
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                            {% endif %}
                                            </li>
                                        {% endif %}



                                    {% endfor %}

                                    {% for epreuve in book.getEpreuves %}
                                        {% if not epreuve.content %}
                                            <li class="q"><h2>{{ epreuve.title }}</h2></li>
                                        {% else %}
                                            <li>
                                                {% if corrige_autorisation %}
                                                    <a href="{{ path('app_epreuve', {'e':epreuve.slug, 'type': 'epreuve'}) }}">
                                                        <div class="m">
                                                            <h2>{{ epreuve.title }}</h2>
                                                        </div>
                                                    </a>
                                                    <div class="k">
                                                        <a href="{{ path('app_epreuve', {'e':epreuve.slug, 'type': 'epreuve'}) }}">
                                                            <i class="fa fa-eye" id="i"></i>
                                                            <i class="fa fa-eye" id="i"></i>
                                                        </a>
                                                    </div>
                                                    <div class="l">
                                                        <a href="{{ path('app_epreuve', {'e':epreuve.slug, 'type': 'corrige'}) }}">
                                                            <i class="fa fa-check" id="i"></i>
                                                            <i class="fa fa-check" id="i"></i>
                                                        </a>
                                                    </div>

                                                {% else %}

                                                    <a href="{{ path('app_epreuve', {'e':epreuve.slug, 'type': 'epreuve'}) }}">
                                                        <div class="m">
                                                            <h2>{{ epreuve.title }}</h2>
                                                        </div>
                                                    </a>
                                                    <div class="k">
                                                        <a href="{{ path('app_epreuve', {'e':epreuve.slug, 'type': 'epreuve'}) }}">
                                                            <i class="fa fa-eye" id="i"></i>
                                                            <i class="fa fa-eye" id="i"></i>
                                                        </a>
                                                    </div>
                                                    <div class="l">
                                                        <a data-bs-toggle="modal" data-bs-target="#achat_bord">
                                                            <i class="fa fa-check text-danger" id="i"></i>
                                                            <i class="fa fa-check text-danger" id="i"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </li>
                                        {% endif %}



                                    {% endfor %}
                                </ul>
                            </div>
                        </div>








                    </div>
                </div>

                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col col-12 col-md-4">
                            <h3 class="fw-bold">Laissez un commentaire</h3>
                            <div class="mt-2">
                                <div>
                                    {% for i in 1..5 %}
                                        {% if i<=  book.star %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24"><path fill="#dada10" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928z"/></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 24 24"><path fill="black" d="m12 18.26l-7.053 3.948l1.575-7.928L.588 8.792l8.027-.952L12 .5l3.385 7.34l8.027.952l-5.934 5.488l1.575 7.928zm0-2.292l4.247 2.377l-.948-4.773l3.573-3.305l-4.833-.573l-2.038-4.419l-2.039 4.42l-4.833.572l3.573 3.305l-.948 4.773z"/></svg>
                                        {% endif %}
                                    {% endfor %}
                                    <p>calculé sur {{ book.comments|length }} commentaires</p>
                                </div>
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <label for="{{ form.content.vars.id }}" class="my-2">laissez un commentaire:</label>
                                <trix-editor input="{{ form.content.vars.id }}" class="trix-content"></trix-editor>
                                <input type="submit" value="Envoyer" class="btn btn-danger mt-2">
                                {{ form_end(form)}}
                            </div>
                        </div>
                        <div class="col col-12 col-md-8 border-start">
                            <h3 class="fw-bold">Commentaires des abonnés</h3>
                            <div {{ vue_component('comments-book', {'idUser': idUser, 'numPageComments': numPageComments }) }}></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- fin des infos du livre -->

        {% if not corrige_autorisation %}
        <!-- debut Modal pour rediriger vers achat.bord -->
        <div class="modal fade" id="achat_bord" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paie_autentificationLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <div class="container-fluid g-0 ">
                            <img class="infoox-popo-logo" src="{{ asset('/logo/infoox1.png') }}" alt="Infoox School" style="width: 150px">
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid g-0 ">
                            <div class ="row">
                                <div class="col">
                                    <h1 class="mb-3">Accès aux corrigés avec vidéos d’explications !</h1>

                                    <p>Chère
                                        <small style="font-weight: bolder;">{{ app.user.firstName??"utilisateur" }}</small>,
                                        vous utilisez la version test. Veillez acheter le bord
                                        <small style="font-weight: bolder;">({{ book.title }} {{ book.collection ? book.collection.title : '' }})</small>
                                        pour pouvoir avoir accès à ses corrigés d’exercices et d’épreuves avec vidéos d’explications à seulement
                                        <small style="font-weight: bolder;">{{ prix }} Fcfa</small> via l'icone suivante :
                                    </p>
                                    <div class="d-block w-100 text-center">
                                        <a href="{{ path('app_access_book', {'b': book.slug }) }}"><i class="fa fa-send infoox-icon" style="font-size:40px;color: black;background-color: rgb(248, 44, 8);border-radius:100%"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <img class="infoox-popo-logo me-auto" src="{{ asset('/logo/infoox1.png') }}" alt="Infoox School" style="width: 100px">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin Modal pour rediriger vers achat.bord -->
        {% endif %}


    </main>
{% endblock %}

{% block jsEnd %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}

